.idea
1_airgapped_preparation/profile/values.yaml
2_cluster_admin_tasks/profile/values.yaml
3_namespace_owner_tasks/profile/values.yaml
generated
tanzu
tanzu-cluster-essentials
tanzu-framework-darwin-amd64.tar
tanzu-framework-linux-amd64.tar